<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ORDERLIST</title>
<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>	

<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
<script type="text/javascript">	
	function gopay()
	{
		var cnum = $('#cnum').val()

		var fromname = $('#fromname').val()
		var fromphone = $('#fromphone').val()
		var fromaddress = $('#fromaddress').val()
		var toname = $('#toname').val()
		var tophone = $('#tophone').val()
		var toaddress = $('#toaddress').val()
		var requestmemo = $('#requestmemo').val()
		var ttlprice = $('#ttlprice').val()
		var rootnum = $('#rootnum').val()
		
		
		var itemList = new Array();
		
		var itemcode = $("input[name='itemcode']");	
		var name = $("input[name='name']");
		var amount = $("input[name='amount']");	
		var itemttlprice = $("input[name='itemttlprice']");	
		
		for (var i = 0; i < itemcode.length; i++) 
		{
    		var obj = {"itemcode":itemcode[i].value,"amount":amount[i].value,"name":name[i].value,"itemttlprice":itemttlprice[i].value};
    		itemList.push(obj); 	 
  		}

		var IMP = window.IMP; // 생략 가능
		IMP.init("imp84767267");	
		IMP.request_pay({			
            pg : "kakaopay.TC0ONETIME",
            pay_method : 'card',
            merchant_uid:  "mangwoomul_"+new Date().getTime(), 
            name : name[0].value,
            amount : ttlprice,
            buyer_email : 'lapuett@gmail.com',
            buyer_name : fromname,
            buyer_tel : fromphone,
            buyer_addr : fromaddress,
            buyer_postcode : '123-456'
        }, function (rsp) { // callback
            if (rsp.success) {
                alert('결제성공');
                $('#orderList').submit();		
            } else {
            	alert('결제실패');
            }
        });		
	}
	
		function gocard() {
			
			var cnum = $('#cnum').val()
		
			var fromname = $('#fromname').val()
			var fromphone = $('#fromphone').val()
			var fromaddress = $('#fromaddress').val()
			var toname = $('#toname').val()
			var tophone = $('#tophone').val()
			var toaddress = $('#toaddress').val()
			var requestmemo = $('#requestmemo').val()
			var ttlprice = $('#ttlprice').val()
			var rootnum = $('#rootnum').val()
			
			var itemList = new Array();
			
			var itemcode = $("input[name='itemcode']");	
			var name = $("input[name='name']");
			var amount = $("input[name='amount']");	
			var itemttlprice = $("input[name='itemttlprice']");	
			
			for (var i = 0; i < itemcode.length; i++) 
			{
				var obj = {"itemcode":itemcode[i].value,"amount":amount[i].value,"name":name[i].value,"itemttlprice":itemttlprice[i].value};
				itemList.push(obj); 	 
				}
			
			var userCode = "imp84767267";
			IMP.init(userCode);
			
		   IMP.request_pay({
		    pg: "html5_inicis.INIpayTest",
		    pay_method: "card",
		    merchant_uid: "mangwoomul_"+new Date().getTime(),
		    amount: ttlprice,
		    name : name[0].value,
		    popup: true,
		    buyer_email : 'lapuett@gmail.com',
		    buyer_name : fromname,
            buyer_tel : fromphone,
            buyer_addr : fromaddress,
            buyer_postcode : '123-456'
		  },
		  function (rsp) { // callback
	            if (rsp.success) {
	                alert('결제성공');
	                $('#orderList').submit();		
	            } else {
	            	alert('결제실패');
	            }
	        });		
		}
	</script>

</head>
<body>
<div th:include="@{/fragments/findnavi.html}"></div>
<div style="margin:auto; width:800px; padding-left:150px; font-size:18px; margin-top:100px; border-left:1px solid silver; border-right:1px solid silver;">
	<form action="/drinks/saveorder" id='orderList' name='orderList' method="post">	
		<div style='margin-top:25px; margin-bottom:15px; border-bottom:0.2px solid gray; width:80%'>구매자 정보</div>	
			<label>이름 : </label><span th:text="${cus.cname}"></span> <br>
			<label>휴대폰번호 : </label><span th:text="${cus.phone}"></span> <br>
			<label>E-mail : </label><span th:text="${cus.email}"></span> <br>						
			<input type='hidden' name='cnum' id='cnum' th:value="${cus.cnum}">			
			<input type='hidden' name='fromname' id='fromname' th:value="${cus.cname}">
			<input type='hidden' name='fromphone' id='fromphone' th:value="${cus.phone}">
			<input type='hidden' name='fromaddress' id='fromaddress' th:value="${cus.address}">
		<p style="height:30px;">
		
		<div style='margin-top:25px; margin-bottom:15px; border-bottom:0.2px solid gray; width:80%'>받는사람 정보</div>
			<label>이 름</label>　　　　<input type='text' name='toname' id='toname' th:value="${cus.cname}"><br>
			<label>휴대폰 번호</label>　 <input type='text' name='tophone' id='tophone' th:value="${cus.phone}"><br>
			<label>주 소</label>　　　<input type='text' name='toaddress' id='toaddress' th:value="${cus.address}" style="width:500px;"><br>
			<label>배송요청사항</label>　<input type='text' name='requestmemo' id='requestmemo' th:value="'배송전 연락바랍니다.'" style="width:476px;"><br>
		<p style="height:10px;">
		
		<div style='margin-top:25px; margin-bottom:15px; border-bottom:0.2px solid gray; width:80%'>구매 상품 목록</div>
		<div th:if=${oneitem!=null}>
			<input type='hidden' name='rootnum' id='rootnum' value='1'>
			<div>
				[[${oneitem.name}]]　[[${amount}]]개  [[${oneitem.price*amount}]] 원
				<input type='hidden' name='itemcode' id='itemcode' th:value='${oneitem.itemcode}'>
				<input type='hidden' name='name' id='name' th:value='${oneitem.name}'>
				<input type='hidden' name='amount' id='amount' th:value='${amount}'>
				<input type='hidden' name='itemttlprice' id='itemttlprice' th:value='${oneitem.price*amount}'>
			</div>
			<p style="height:10px;">
			<div style='margin-top:25px; margin-bottom:15px; border-bottom:0.2px solid gray; width:80%'>결제 정보</div>
			<span th:text="'총 상품가격 : ' +${oneitem.price*amount} + ' 원'"></span>
		<p style="height:10px;">
		</div>
		
		<div th:if=${list!=null}>
				<input type='hidden' name='rootnum' id='rootnum' value='2'>
			<div th:each="item : ${list}">
				<input type='hidden' name='itemcode' id='itemcode' th:value='${item.itemcode}'>
				<input type='hidden' name='name' id='name' th:value='${item.name}'>
				<input type='hidden' name='amount' id='amount' th:value='${item.amount}'>
				<input type='hidden' name='itemttlprice' id='itemttlprice' th:value='${item.itemttlprice}'>
				[[${item.name}]]　[[${item.amount}]]개 [[${item.itemttlprice}]] 원
			</div>
			<p>
			<div style='margin-top:25px; margin-bottom:15px; border-bottom:0.2px solid gray; width:80%'>결제 정보</div>
			<span th:text="'총 상품가격 : '+${ttlprice} +' 원'"></span>
		</div>
		<input th:if=${oneitem!=null} type='hidden' name='ttlprice' id='ttlprice' th:value='${oneitem.price*amount}'>
		<input th:if=${list!=null} type='hidden' name='ttlprice' id='ttlprice' th:value='${ttlprice}'>
		<button type='button' onclick='gopay();'>카카오 간편결제</button>
		<button type='button' onclick='gocard();'>카드 결제</button>
	</form>
</div>
</body>
</html>