<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.web.user.UserMapper">

<!-- Customer -->

	<insert id='customerJoin'
			parameterType='com.spring.web.customer.vo.Customer'>
			
		INSERT INTO TRADI_CUSTOMER(CNUM,CID,PWD,CNAME,NICKNAME,ADDRESS,PHONE,EMAIL,BIRTH)
		VALUES(CUSTOMER_SEQ.NEXTVAL,#{cid},#{pwd},#{cname},#{nickname},#{address},#{phone},#{email},#{birth})			
	</insert>
	
	<insert id="addTradiUser"
			parameterType='com.spring.web.customer.vo.Customer'>
	
		INSERT INTO TRADI_USER(USERID,PASSWORD)
		VALUES (#{cid},#{pwd})
		
	</insert>
	
	<insert id ="endowAuthorityToCustomer"
			parameterType="String">
			
		INSERT INTO TRADI_AUTHORITIES(USERID,AUTHORITY)
		VALUES (#{cid},'ROLE_USER')		
			
	</insert>	
	
	<select id='customeridDupliCheck'
			parameterType="String"
			resultType="String">
			
			SELECT userid FROM TRADI_USER WHERE USERID=#{cid}
			
	</select>
		
	<select id="customerLogin"
			parameterType="com.spring.web.customer.vo.Customer"
			resultType='com.spring.web.customer.vo.Customer'>
					SELECT CNUM,CID,PWD,NICKNAME FROM TRADI_CUSTOMER WHERE CID=#{cid}	AND PWD=#{pwd}	
	</select>		

	
	<select id='customerGetmyinfo'
			parameterType="Integer"
			resultType="com.spring.web.customer.vo.Customer">
	
		SELECT * FROM TRADI_CUSTOMER WHERE CNUM=#{cnum}
	
	</select>

	<select id="customerCheckPwd"
			parameterType="com.spring.web.customer.vo.Customer"
			resultType="Integer">
	
		SELECT cnum FROM TRADI_CUSTOMER 
		WHERE CNUM=#{cnum} AND PWD=#{pwd}
		
	</select>
	
	
	<update id="customerUpdatePwd"
			parameterType="com.spring.web.customer.vo.Customer">
	
		UPDATE TRADI_CUSTOMER
		SET PWD = #{pwd}
		WHERE CNUM = #{cnum}		
			
	</update>		
	
	<update id='customerEditEmail'
			parameterType='com.spring.web.customer.vo.Customer'>
						
		UPDATE TRADI_CUSTOMER SET email=#{email}
		WHERE CNUM = #{cnum}
			
	</update>
	

	<update id="customerUpdateAddress"
			parameterType="com.spring.web.customer.vo.Customer">
			
		UPDATE TRADI_CUSTOMER
		SET ADDRESS=#{address} 
		WHERE CNUM = #{cnum}	
			
	</update>
	<update id="customerUpdatePhone"
			parameterType="com.spring.web.customer.vo.Customer">
			
		UPDATE TRADI_CUSTOMER
		SET PHONE = #{phone}
		WHERE CNUM = #{cnum}	
			
	</update>

<!-- Vendor -->

	<insert id='vendorJoin'
			parameterType='com.spring.web.vendor.vo.Vendor'>
			
	INSERT INTO TRADI_VENDOR(VNUM,VID,PWD,COM_NUMBER,BRANDNAME,CEONAME,ADDRESS,WEBSITE,PHONE)
	VALUES(VENDOR_SEQ.NEXTVAL,#{vid},#{pwd},#{com_number},#{brandname},#{ceoname},#{address},#{website},#{phone})			
	</insert>
	
	<insert id="addTradiUserByVendor"
			parameterType='com.spring.web.vendor.vo.Vendor'>
	
		INSERT INTO TRADI_USER(USERID,PASSWORD)
		VALUES (#{vid},#{pwd})
		
	</insert>
	
	<insert id ="endowAuthorityToVendor"
			parameterType="String">
			
		INSERT INTO TRADI_AUTHORITIES(USERID,AUTHORITY)
		VALUES (#{vid},'ROLE_VENDOR')		
			
	</insert>
	
	
	<select id='vendordDupliCheck'
			parameterType="String"
			resultType="String">
			
			SELECT userid FROM TRADI_USER WHERE userid=#{vid}
			
	</select>
	
	<select id="vendorLogin"
			parameterType="com.spring.web.vendor.vo.Vendor"
			resultType='com.spring.web.vendor.vo.Vendor'>
					SELECT VNUM,VID,PWD,PERMIT FROM TRADI_VENDOR WHERE VID=#{vid} AND PWD=#{pwd}	
	</select>		

	<select id="getCnumByCid"
			parameterType="String"
			resultType="com.spring.web.customer.vo.Customer">
			
			SELECT CNUM,NICKNAME FROM TRADI_CUSTOMER WHERE CID=#{cid}
			
	</select>

	<select id="getVendorByVid"
			parameterType="String"
			resultType="com.spring.web.vendor.vo.Vendor">
			
			SELECT VNUM,PERMIT FROM TRADI_VENDOR WHERE VID=#{vid}
			
	</select>	




</mapper>