<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.web.customer.mapper.CustomerMapper">

	<select id='getmyorder'
			parameterType="Integer"
			resultType="map">
	
		SELECT a.onum,a.orderdate,b.oinum,b.name,b.itemcode,b.amount,b.confirm,b.price,c.fname,r.rnum
		FROM TRADI_ORDER a
		LEFT OUTER JOIN TRADI_ORDERITEM b
		ON a.onum = b.onum
		INNER JOIN TRADI_I_ATTACH c
		ON b.itemcode = c.itemcode
		LEFT OUTER JOIN TRADI_REVIEW r
		ON b.oinum = r.oinum
		WHERE a.CNUM=#{cnum} AND c.fname LIKE 'thumnail%'  
		ORDER BY a.orderdate DESC , b.confirm
	
	</select>
	
	<insert id="regCancle"
			parameterType="com.spring.web.customer.vo.Cancle">
	
		INSERT INTO TRADI_CANCLE_ORDER(CANNUM,ONUM,OINUM,REASON,CNUM,ITEMCODE)
		VALUES (TRADI_CANCLE_SEQ.NEXTVAL,#{onum},#{oinum},#{reason},#{cnum},#{itemcode})
	
	</insert>
	
	<update id="setConfirmByCancle"
			parameterType="Integer">
			
		UPDATE TRADI_ORDERITEM 
		SET CONFIRM = 3
		WHERE OINUM = #{oinum}		
			
	</update>
	
	<insert id="addReview"
			parameterType="com.spring.web.customer.vo.Review">
		
		INSERT INTO TRADI_REVIEW (RNUM,CNUM,ITEMCODE,OINUM,CONTENT,SCORE)
		VALUES(TRADI_REVIEW_SEQ.NEXTVAL,#{cnum},#{itemcode},#{oinum},#{content},#{score})	
			
	</insert>
	
	<select id='detailorder'
			parameterType="Integer"
			resultType="map">
			
		SELECT a.*,b.*,c.fname
		FROM TRADI_ORDER a
		LEFT OUTER JOIN TRADI_ORDERITEM b
		ON a.onum = b.onum
		INNER JOIN TRADI_I_ATTACH c
		ON b.itemcode = c.itemcode
		WHERE b.oinum=#{oinum} AND c.fname LIKE 'thumnail%'   

	
	</select>


</mapper>   

