<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ADMINLOGIN</title>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
	
	function loginn()
	{			
		var serData = $('#loginned').serialize();             	

		$.ajax({
				url : '/admin/login',	
				method : 'post',
				data : serData,  											
				cache : false,       
		
				dataType:'json',                      
				success : function(res)                
				{					
					alert(res.login? "로그인성공" :"로그인실패" );   
					if(res.login)
					{
						location.href='/admin/main';
					}
					else
					{
						alert('로그인실패');
						location.href='/admin/login';
					}
				},
				error : function(xhr,status,err)
				{
					alert(err);	
				}
				});		
		}
</script>
</head>
<body>

<div style="border: 5px double silver; width:250px; height:165px; margin:auto; margin-top:200px; text-align:center; padding:20px; border-radius:0.8em;">
<h1>망우물 관리자 로그인</h1>
<form id='loginned' name='loginned'>

<label>ID </label><input type='text' id='aid' name='aid' value='admin'> <p>
<label>PWD </label><input type='password' id='pwd' name='pwd' value='1234'> <p>

<button type='button' onclick='loginn();'>로그인</button>
</form>
</div>

</body>
</html>